git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/otaheri/chamfer_distance.git
git+https://github.com/otaheri/bps_torch.git
open3d==0.18.0
smplx
tensorboardX
loguru
omegaconf
yacs
numpy==1.22.4
